div.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

    width: 100%;
    background-color: #333;
  }

div.nav-bar ul li
{
    float: left;
}

div.nav-bar ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav-bar ul li a:hover
{
    background-color: cornflowerblue
}


.active
{
    background-color: cornflowerblue;
}


body
{
    background-color: floralwhite;
}

div.main-container
{
    text-align: center;
}

div.footer
{
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:25px;
}