div.nav-bar
{
    background-color: #333;
    position: relative; 
    top: -10px; 
    width: 100%; 
    transition: top 0.3s; 
}
div.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #333;
  }

div.nav-bar ul li
{
    float: left;
}

div.nav-bar ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav-bar ul li a:hover
{
    background-color: cornflowerblue
}


.active
{
    background-color: cornflowerblue;
}


body
{
    background-color: floralwhite;
    width: auto;
    height: auto;
}

div.main-container
{
    text-align: center;
}
div.main-container ul
{
    list-style-type: none;
    align-self: center;
    overflow: hidden;
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-evenly;
}
div.main-container ul li
{
    float: left;
}

div.main-container ul li div
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.footer
{
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}